body { 
    padding-top: 100px; 
}

#logo{
	width:230px;
	height: 0;
	display: block;
	overflow: hidden;
	padding-top: 76px;
	font-size: 0;
	background: url("../images/logo.png") no-repeat center center;
}

.footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    text-align: center;
    margin-top: 30px;
}

.articleTitle:hover, .articleTitle:focus {
    text-decoration: none;
}

.adminTable {
    margin-top: 20px;
    margin-bottom: 20px;
}

#errorPanel {
    padding-top: 30px;
    padding-bottom: 10px;
}

/* Mise en page des box liens */
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col-md-4 {
    flex: 1 45%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin: 1rem 2rem;
    padding: 0rem 2rem 2rem 2rem;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.title{
    flex: 1;
}

.description{
    flex: 1;
}

.link{
    flex: 1;
    text-align: center;
}

.filter {
    flex: 1;
    flex-direction: row;
}
.author{
    flex: 1;
    text-align: right;
}

/* Bouton "Open Website" box liens */
.btn-lien {
    margin: 1rem 0rem;
    background: #fff;
    backface-visibility: hidden;
    border-radius: .375rem;
    border-style: solid;
    border-width: .125rem;
    box-sizing: border-box;
    color: #212121;
    cursor: pointer;
    display: inline-block;
    font-family: Circular,Helvetica,sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: -.01em;
    line-height: 1.3;
    padding: .875rem 1.125rem;
    position: relative;
    text-align: left;
    text-decoration: none;
    transform: translateZ(0) scale(1);
    transition: transform .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btn-lien:not(:disabled):hover {
    transform: scale(1.15);
    text-decoration:none
}


.btn-lien:focus {
    outline: 0 solid transparent;
    text-decoration:none
}
